In [2]:
from faker import Faker
import random
import pandas as pd

In [3]:

# Inicializando o Faker
fake = Faker('pt_BR')

# Listas de cargos e setores fictícios
cargos = ['Analista de Dados', 'Engenheiro de Software', 'Gerente de Projetos', 'Diretor Financeiro', 'Analista de RH', 'Desenvolvedor Web', 'Cientista de Dados', 'Designer UX', 'Administrador de Redes', 'Consultor de Negócios']
setores = ['TI', 'Financeiro', 'Recursos Humanos', 'Marketing', 'Operações', 'Vendas', 'Logística', 'Pesquisa e Desenvolvimento']

# Gerando os dados
dados = []
for i in range(1, 15987):
    nome = fake.name()
    data_nascimento = fake.date_of_birth(minimum_age=18, maximum_age=65).strftime('%Y-%m-%d')
    cargo = random.choice(cargos)
    salario = round(random.uniform(3000, 25000), 2)  # Salário entre 3.000 e 25.000
    sexo = random.choice(['Masculino', 'Feminino'])
    setor = random.choice(setores)
    id_funcionario = i  # ID sequencial
    
    dados.append([id_funcionario, nome, data_nascimento, cargo, salario, sexo, setor])

# Criando DataFrame
colunas = ['ID', 'Nome', 'Data de Nascimento', 'Cargo', 'Salário', 'Sexo', 'Setor de Atuação']
df = pd.DataFrame(dados, columns=colunas)

In [ ]:
start_date = pd.to_datetime("2010-01-01")
end_date = pd.to_datetime("2024-12-31")
days_between = (end_date - start_date).days

df["Data_admissao"] = [start_date + pd.Timedelta(days=random.randint(0, days_between)) for _ in range(len(df))]

,ID,Nome,Data de Nascimento,Cargo,Salário,Sexo,Setor de Atuação,Data_admissao
0,1,Luiz Gustavo Fernandes,1962-06-12,Designer UX,7628.02,Masculino,Operações,2018-01-12
1,2,Daniel Farias,1981-01-22,Consultor de Negócios,16155.68,Feminino,Financeiro,2021-07-08
2,3,Dra. Gabrielly Vargas,1978-10-30,Gerente de Projetos,24299.37,Masculino,Pesquisa e Desenvolvimento,2020-09-11
3,4,Benjamin Costela,1996-09-11,Cientista de Dados,16771.97,Masculino,Pesquisa e Desenvolvimento,2018-12-14
4,5,Rodrigo Alves,1965-09-06,Cientista de Dados,12558.44,Feminino,Financeiro,2017-07-01